.twitter-text {
  font-family: Sans-serif;
  font-size: 16px;
  margin: 0;
  display: block;
}

.twitter-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}





.twitter-add-post-part {
  background-color: #000000;
  padding: 10px;
}





.twitter-posts {
  background-color: #000000;
  display: flex;
  flex-direction: row;
}

  .twitter-posts-left {
    display: flex;
    width: 40px;
    margin: 0px 10px;

  }

  .twitter-posts-top {
    display: flex;
    margin: 0px;
    flex-direction: column;
  }

    .twitter-posts-top-line1 {
      display: flex;
      flex-direction: column;
    }

      .twitter-username {
        font-weight: bold;
        color: #ffffff;
        margin-top: 5px;
        margin-right: 2px;
      }

      .twitter-handle {
        color: #616161;
        margin-top: 5px;
      }

      .twitter-timestamp {
        color: #616161;
        margin-top: 5px;
      }

    .twitter-posts-top-line2 {
      display: flex;
      margin-top: 5px;
    }

      .twitter-content {
        color: #ffffff;
      }

    .twitter-posts-top-line3 {
      display: flex;
      margin-top: 10px;
    }

      .twitter-post-image {
        width: 500px;
        object-fit: contain;
        object-position: left;
        border-radius: 10px;
        border-width: 1px;
        border-color: #616161;
        border-style: solid;
      }

  .twitter-posts-bottom {
    display: flex;
    margin: 15px 0px;
  }

    .twitter-posts-bottom-line {
      display: flex;
    }

      .twitter-posts-bottom-line-part1 {
          display: flex;
          width: 400px;
        }

        .twitter-posts-bottom-line-comments {
          display: flex;
          width: 100px;
        }

        .twitter-posts-bottom-line-repost {
          display: flex;
          width: 100px;
        }

        .twitter-posts-bottom-line-likes {
          display: flex;
          width: 100px;
        }

        .twitter-posts-bottom-line-views {
          display: flex;
          width: 100px;
        }

          .twitter-posts-bottom-line-icon {
            display: flex;
          }

            .twitter-posts-bottom-line-icon-image {
              display: flex;
              width: 20px;
              height: 20px;
              object-fit: contain;
              object-position: center;
              padding: 0px;
            }

          .twitter-posts-bottom-line-number {
            display: flex;
          }

            .twitter-icon-number {
              color: #616161;
              margin-left: 5px;
            }

      .twitter-posts-bottom-line-part2 {
        display: flex;
        width: 60px;
        margin-left: 40px;
      }

        .twitter-posts-bottom-line-bookmark {
          display: flex;
          width: 20px;
          margin-left: 10px;
        }

        .twitter-posts-bottom-line-share {
          display: flex;
          width: 20px;
          margin-left: 10px;
        }